streamlit
transformers
torch
peft
sounddevice
scipy
numpy
pydub
requests
sentencepiece
SpeechRecognition
gTTS
edge-tts
python-dotenv
psutil
bitsandbytes
groq
manim
fastapi
uvicorn
ffmpeg
sentence-transformers
chromadb
faiss-cpu
tiktoken
PyAudio